body,html{
  padding: 0;
  margin: 0;
}
.app {
  font-family: opensans;
}
.header-section{
  padding-top: 10em;
  padding-bottom: 10em;
  text-align: center;
  background: linear-gradient(#9796F0, #FBC7D4);
}

.header-section h1{
  font-size: 3em;
  color: white;
}

.wrapperInput{
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.hash-content{
  flex-basis: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.hash-content h2{
  color: #565656;
  font-size: 22px;
}

.hash-in{
  background: white;
  border-radius: 5px;
  border: 1px solid #ececec;
}

.hash-in textarea{
  width: 464px;
  height: 170px;
  padding: 15px;
  outline: none;
  resize: none;
  font-size: 14px;
  border-color: #fcfcfc;
  border-radius: 5px;
  border: 1px solid #ececec;
}

.hash-out{
  border-radius: 5px;
  border: 1px solid #ececec;
  margin-top: 30px;
  flex: 1 1;
}

.btn-in{
  margin: 1em;
  display: flex;
  justify-content: space-between;
}

.hashbtn{
  padding-left: 5.9px;
}

.clearbtn{
  padding-right: 5.9px;
}

.btn{
  padding: 10px 60px;
  border-radius: 200px;
  border: 1px solid #d3d3d3;
  cursor: pointer;
}

.btn--hash{
  background-color: #4299e1;
  color: white;
}

.btn--clear{
  background-color:white;
}


.sha-text{
  flex-basis: 50%;
  
}

.sha-text h2 {
  font-size: 20px;
  color: #565656;
}

.sha-title{
  margin-left: 30px;
  height: 579px;
  border-radius: 5px;
  border: 1px solid #ececec;
}


.container{
  max-width: 1200px;
  margin: auto;

}

.d-flex{
  display: flex;
  justify-content: center;
}


